################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VirtualReality_OpenGL/v16
/Debug
/packages/glfw.3.3.2
/packages/glew.redist.1.9.0.1
/packages/glew.1.9.0.1
/packages/Simple OpenGL Image Library/lib
/packages/Simple OpenGL Image Library/projects/VC9/SOIL.vcxproj.user
/packages/Simple OpenGL Image Library/projects/VC9/Debug
/packages/Simple OpenGL Image Library/projects/VC9/.vc
/packages/glm.0.9.9.700
