################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VirtualReality_OpenGL/v16
/Debug
/packages/glfw.3.3.2
/packages/glew.redist.1.9.0.1
/packages/glew.1.9.0.1
/packages/Simple OpenGL Image Library/lib
